@import 'tailwindcss';
@import '@fontsource-variable/playfair-display/wght-italic.css';
@plugin 'tailwindcss-animated';
@plugin 'tailwindcss-intersect';

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Playfair Display Variable', serif;

  --color-primary: #ff681a;
  --color-secondary: #2e7d32;
  --color-dark: #333333;
  --color-light: #999999;
}

@utility bg-dots-pattern {
  background-color: white;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
}

h1,
h2 {
  font-style: italic;
  font-weight: bold;
}

@layer utilities {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 640px) {
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (min-width: 768px) {
    .container {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

   @media (min-width: 828px) {
    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

   @media (min-width: 960px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: 1024px) {
    .container {
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  @media (min-width: 1120px) {
    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

    @media (min-width: 1250px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: 1280px) {
    .container {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  @media (min-width: 1340px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: 1500px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: 1536px) {
    .container {
      padding-left: 130px;
      padding-right: 130px;
    }
  }

  @media (min-width: 1650px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
