@import 'tailwindcss';
@import '@fontsource-variable/playfair-display/wght-italic.css';
@plugin 'tailwindcss-animated';
@plugin 'tailwindcss-intersect';

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Playfair Display Variable', serif;

  --color-primary: #ff681a;
  --color-secondary: #2e7d32;
  --color-dark: #333333;
  --color-light: #999999;
}

@utility bg-dots-pattern {
  background-color: white;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
}

h1,
h2 {
  font-style: italic;
  font-weight: bold;
}
